<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<!-- BOOTSTRAP -->
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
<title>Pizzeria</title>
</head>
<body class="bg-dark">
	<header>
		<h1 class="text-danger my-5 text-center"> Pizzeria </h1>
	</header>
	<main class="container">
		<a th:href="@{/admin/pizza/create}" class="btn btn-success mb-3">Crea nuova pizza</a>
		<a th:href="@{/user/ingredients}" class="btn btn-primary mb-3">Ingredienti</a>
		<form class="d-flex justify-content-end mb-3" th:action="@{/}" method="POST">
			<input class="me-2" type="text" name="name" th:value=${searchTerm}>
			<button class="btn btn-secondary">Cerca</button>			
		</form>	
		
		<table class="table text-light">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Nome</th>
		      <th scope="col">Descrizione</th>
		      <th scope="col">Immagine</th>
		      <th scope="col">Prezzo</th>
		      <th scope="col" colspan="4">Dettagli</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<tr th:if="${pizze.isEmpty()}">
		    	<th scope="row" colspan="8" class="text-center"> Non ci sono pizze disponibili </th>
		    </tr>
		    <tr th:unless="${pizze.isEmpty()}" th:each = "pizza : ${pizze}" th:object=${pizza}>
		      <th scope="row"> [[ *{id} ]]</th>
		      <td>[[ *{name} ]]</td>
		      <td>[[ *{description} ]]</td>
		      <td>[[ *{image} ]]</td>
		      <td>[[ *{price} ]] euro</td>
		      <td> <a class="btn btn-primary" th:href="@{/user/pizza/{id} (id=*{id})}">Dettagli</a> <td>
		      <td> <a class="btn btn-warning" th:href="@{/admin/pizza/edit/{id} (id=*{id})}">Modifica</a> <td>
		      <td> 
		      	<form th:action="@{/admin/pizza/delete/{id} (id=*{id})}" method="post">
					<button th:href class="btn btn-danger">Elimina</button>
				</form>
			  </td>
			  
		    </tr>
		  </tbody>
		</table>
	</main>
</body>
</html>