<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<!-- BOOTSTRAP -->
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
<title>Aggiungi ingrediente</title>
</head>
<body class="bg-dark text-white">
	<header class="my-5">
		<h1 class="text-danger text-center">Aggiungi un nuovo ingrediente</h1>
	</header>
	<main class="container" th:object="${ingrediente}">
		<div class="row my-5">
			<form method="POST">
				<div class="col-6 mb-3">
					<label>Nome</label>
					<input type="text" name="nome" th:value="*{nome}">
					<small style="color: red" th:if="${errors != null && errors.hasFieldErrors('nome')}">
						[[ ${errors.getFieldError('nome').defaultMessage} ]]
					</small>
				</div>
				<button class="btn btn-primary">Crea</button>						
			</form>
		</div>
	</main>
</body>
</html>